@import "tailwindcss";
html {
  font-size: 16px;
}
body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  background-color: #eeeeee;
}
p {
  line-height: 1.6;
}
a,
button {
  cursor: pointer;
}
